<ng-template appRef></ng-template>
<table>
  <thead>
  <tr>
    <td>Priority</td>
    <td>Sources</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let publish of this.published">
    <td>{{publish.priority}}</td>
    <td>
      <a (click)="selectPublish(publish.title)"
         [routerLink]="['/publishes/', publish.title]">
        http://localhost:4200/publishes/{{publish.title}}
      </a>
    </td>
  </tr>
  </tbody>
</table>

<div class="buttons">
  <div>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="position">Unpublished</button>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu *ngFor="let unpublish of unpublished">
        <li nz-menu-item>
          <a (click)="selectPublish(unpublish.title)" [routerLink]="['/publishes/', unpublish.title]">
            http://localhost:4200/publishes/{{unpublish.title}}
          </a>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>

  <div class="actions">
    <button nz-button [nzSize]="size" nzType="primary" (click)="showActionHandler()">{{buttonText}}</button>
    <button *ngIf="publishSelected" nz-button [nzSize]="size" nzType="default" [routerLink]="['']"
            (click)="closeActionHandler()">Close
    </button>
    <button *ngIf="publishSelected" nz-button [nzSize]="size" nzType="default" nzDanger [routerLink]="['']"
            (click)="deleteActionHandler()">
      Delete
    </button>
  </div>
</div>

<article *ngIf="publishSelected" class="article">
  <h1 class="title">
    {{publishSelected?.title}}
  </h1>

  <p class="subtitle">
    {{publishSelected?.description}}
  </p>

  <p class="text">
    {{publishSelected?.text}}
  </p>

  <p class="date">
    {{publishSelectedDate}}
  </p>
</article>

